.wrap{
    width: 1200px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: block;
    margin: 30px auto;
}
.col-1{
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    background-color: red;
    box-shadow: 0 0 50px blue;
    margin: 0 20px;
}
.col-2{
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    background-color: red;
    box-shadow: 20px -10px 40px blue;
    margin: 0 90px;
}
.col-3{
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    background-color: red;
    box-shadow: 40px 10px 30px blue;
    margin: 0 20px;
}
.col-4{
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    background-color: red;
    box-shadow:inset 0px 0px 100px blue;
    margin: 80px 20px;
}
.col-5{
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    background-color: red;
    box-shadow:inset 70px 0px 100px blue;
    margin: 80px 90px;
}
.col-6{
    width: 300px;
    height: 300px;
    display: block;
    float: left;
    background-color: red;
    box-shadow:inset 40px 50px 30px blue;
    margin: 80px 20px;
}